.title-bg {
  background-color: #FFFFFF;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.name-title {
  font-family: "Kanit", "Sarabun", sans-serif;
  text-align: center; /* จัดข้อความให้อยู่กลางแนวนอน */
  color: #2D2D2D;
  font-size: 30px;
}

.bg-gray {
  background-color: #F8F8F8;
  min-height: 100vh; /* สูงเต็มจอแนวตั้ง */
  width: 100%;       /* กว้างเต็มหน้าจอแนวนอน */
  margin: 0;          /* ลบ margin ที่อาจมี */
  padding: 0;         /* ลบ padding ที่อาจมี */
  box-sizing: border-box; /* รวม padding ในขนาด */
    overflow-x: hidden; /* ป้องกันขยับแนวนอน */
}

